<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="personal" href="/tabs/personal">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Datos Personales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profesional" href="/tabs/profesional">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Datos Profesionales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academic" href="/tabs/academic">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Datos Académicos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
